# Ignore virtual environment
.venv
# Ignore Python bytecode
__pycache__
*.pyc
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
# Ignore PyInstaller
*.manifest
*.spec
# Ignore pip logs
pip-log.txt
pip-delete-this-directory.txt
# Ignore unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
# Ignore translations
*.mo